@charset "UTF-8";
a{
	text-decoration-line: none;
}
.navbar{
    padding-left: 120px; padding-right: 120px;
    padding-top: 10px; padding-bottom: 10px;
}
.navbar-nav > li > a { padding: 26px 25px }
#header_title {
    color: #0077CC;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-style: normal;
}
html, body{
	width: 100%;
	height: 100%;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}
#map{
	width: 100%;
	height: 100%;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0077CC !important;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited{
    background-color: white !important;
    color: #0077CC !important;
}
.text-primary{
    color:#0077CC;
}
#hr{
    margin: 0;
    border: 0;
    width: 100%;
    height: 2px;
    background-color: #0077CC;
}
#main_img{
    position: relative;
    opacity: 0.2;
    z-index: 1;
}
#main_phrase{
    position: absolute;
    top:150px;
    left:30px;
    z-index: 2;
}
h4{
    color:#0077CC;
    font-weight:900;
}
h5{
    color:#0077CC;
    font-weight:700;
}
.menu_button:hover{
    background-color: #bfeaff;
    font-weight: 800;
    
}
#myPageExpand a:hover{
    font-weight: 800;
    cursor: pointer;
}
.form_group input {
    font-size: 15px;
    color: #222222;
    width: 300px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
    background: none;
    z-index: 5;
}

.form_group input::placeholder { color: #aaaaaa; }
.form_group input:focus { outline: none; }


table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  section.notice {
    padding: 80px 0;
  }
  
  .page-title {
    margin-bottom: 60px;
  }
  .page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
  }
  
  #board-search .search-window {
    padding: 15px 0;
    background-color: #f4f8fc;
  }
  #board-search .search-window .search-wrap {
    position: relative;
  /*   padding-right: 124px; */
    margin: 0 auto;
    width: 80%;
    max-width: 564px;
  }
  #board-search .search-window .search-wrap input {
    height: 40px;
    width: 83%;
    font-size: 14px;
    padding: 7px 14px;
    border: 1px solid #ccc;
  }
  #board-search .search-window .search-wrap input:focus {
    border-color: #333;
    outline: 0;
    border-width: 1px;
  }
  #board-search .search-window .search-wrap .btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    padding: 0;
    font-size: 16px;
  }
  
  .board-table {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
  }
  .board-table a:hover {
    text-decoration: underline;
  }
  .board-table th {
    text-align: center;
  }
  
  .board-table .th-num {
    width: 100px;
    text-align: center;
  }
  
  .board-table .th-date {
    width: 200px;
  }
  
  .board-table th, .board-table td {
    padding: 14px 0;
  }
  
  .board-table tbody tr {
    border-top:1px solid #e7e7e7;
    text-align: center;
  }
  
  .board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
  }
  
  .board-table tbody th p{
    display: none;
  }


  #board_div a{
    text-decoration: none;
    font-size: 16px;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
  }
  
  .btn-dark {
    background: #555;
    color: #fff;
  }
  
  .btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
  }
  
  /* reset */
  
  * {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  .container {
    width: 1100px;
    margin: 0;
  }
  .blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
  }



  .wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
    line-height: 1.5;
}
.wrap * {
    padding: 0;
    margin: 0;
}
.wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}
.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}
.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}
.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
    cursor: pointer;
}
.info .body {
    position: relative;
    overflow: hidden;
}
.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}
.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}
.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}
.info:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
    color: #5085bb;
}

#planNameGroup{
	border: none;
	border-bottom: 2px solid black;
}

#planName {
	appearance: none;
	border: none;
	outline: none;
	background-color:transparent;
	border-radius: .2em .2em 0 0;
	padding: .2em;
	color: black;
	font-weight: bold;
}